.container {
   
    display: flex;
    flex-flow: column;

    

    .box {
        position: absolute;
        top: 44%;
        left: 20%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        // position: relative;
        color: black;
        min-width: 100px;
        min-height: 43px;
        // text-align: center;
        background: transparent;
        font-size: 75px;
        font-family: 'Times New Roman', Times, serif;

        @media (max-width: 800px){
            top: 102px;
            left: 52%;
        }
    }
}


