.container {
    width: 100%;
}

.box {

    width: 220px;
    min-width: 100px;
    min-height: 43px;
    text-align: center;
    justify-content: center;
    opacity: .8;
    padding-top: 0px;
    padding-bottom: 0px;
    border: 5px solid gray;
    background: white;
    position: relative;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}

@media only screen and (max-width: 600px) {
    .box {
        min-width: 100px;
        min-height: 50px;
    }
  }