.footer-wrapper {
  display: flex;
  
  font-size: 20px;

  height: 5vh;

  background-color: white;

  overflow: hidden;

  color: black;

  font-family: 'Times New Roman', Times, serif;  

  .footer-contatiner {
      display: inherit;

      align-items: center;
      justify-content: space-between;

      width: 100%;

      list-style-type: none;

      margin: 0 5rem;

      @media (max-width: 850px) {
        margin: 0;
        padding: 0px;

      }

      .logo-footer {
        width: 60px;

        @media (max-width: 850px) {
          width: 104px;
          margin-right: -14%;
          margin-left: 1%
        }

      }

      .cusr-footer {

        text-decoration: none;

        display: flex;

        width: 276px;

        left: 72px;

        justify-content: space-around;

        position: relative;

        
        @media (max-width: 850px) {
          width: 400px;
          left: 72px;
          justify-content: space-around;
          position: relative;
          margin-right: 21%;
        }
        
        .menu__spacer {
          color: black;
    
          @media (max-width: 800px) {
            visibility: hidden;
          }
        }

        a {
          text-decoration: none;

          color: black;

          &:hover {
              text-decoration: underline;
          }
        } 

      }

      li {
          display: inline; 

          a {
              text-decoration: none;

              color: black;

              &:hover {
                  text-decoration: underline;
              }
          }
      }
  }
}



  