.name-login-box {
    display: flex;
    height: 28em;
    width: 78em;
    right: 61px;
    top: 265px;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap; 

    @media (max-width: 800px) {
        display: flex;
        margin-top: 10px;
        margin-bottom: 10px;
        flex-flow: column;
        height: 50em;
        width: 19em;
        justify-content: space-between;
        margin-bottom: 60%;
        
    }



    .box {
        
        top: 44%;
        left: 20%;
        margin-right: auto;
        color: black;
        min-width: 100px;
        min-height: 43px;
        background: transparent;
        font-size: 75px;
        font-family: 'Times New Roman', Times, serif;

        @media (max-width: 800px){
            margin-right: 0;
            word-break: break-all;
            font-size: 36px; 
        }
    }

    .ui.card {
        height: 28em;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        width: 700px;
        background: white;
        opacity: 0.8;
        
        @media (max-width: 800px){ 
            display: flex;
            flex-direction: column;
            height: 130%;
            width: 23em;
        }
    
        .margin-space {
            border-left: 2px solid black;
            height: 67%;
        }
        
        

        .login-box {
            width: 17em;
            margin: 20px;

            @media (max-width: 800px){ 
                width: 21em;

            }
            
            .login-title {
                font-size: 26px;

                @media (max-width: 800px) {
                    position: relative;
                    top: 60px;
                    font-size: 26px;
                }
            }
            .login-container {
                display: flex;
                height: 23em;
                opacity: 1 !important;
                align-items: center;
                justify-content: center;
                margin-top: 10px;



                @media (max-width: 800px){ 
                    display: flex;
                }
    
                .login-info{
                    display: flex;
                    flex-direction: column;
                    height: 90%;
                    justify-content: center;

                    .ui.animated.button {
                        background: lightblue;
                        color: black;
                        top: 20px;
                    }

                    .login-inputs {
                        height: 50px; 
                        font-size: 14pt;
                    }
                }
            }
        }
        .signup-box {
            width: 17em;
            margin: 20px;

            @media (max-width: 800px){ 
                width: 21em;
                margin-top: -6%
            }
            // border: 2px solid black;
            .signup-title {
                font-size: 26px;

                @media (max-width: 800px) {
                    position: relative;
                    top: 60px;
                    font-size: 26px;
                }

            }
            .signup-container {
                display: flex;
                height: 23em;
                opacity: 1 !important;
                align-items: center;
                justify-content: center;
                margin-top: 10px;

                @media (max-width: 800px){ 
                    display: flex;
                    height: 23em;
                }
                
                .signup-info{
                    display: flex;
                    flex-direction: column;
                    width: 89%;
                    height: 100%;
                    

                    .ui.animated.button {
                        background: lightblue;
                        color: black
                    }

                    .ui.large.form {
                        height: 100%;
                        display: flex;
                        justify-content: space-between;
                        flex-direction: column
                    }

                    .ui.error.message {
                        height: inherit;
                    }

                    input {
                        border-radius: 4px;
                    }
                    

                    @media (max-width: 800px) {
                        display: flex;
                        flex-direction: column;
                        margin-top: 27%;
                    }
                }
            }
        }
        
    }
}

